ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* TODO 1 */
p {
  color: red;
}

/* TODO 2 */
.note {
  font-size: 20px;
}

/* TODO 3 */
#id-selector-demo {
  color: green;
}

/* TODO 4 */
/* ATTRIBUTE SELECTORS - a little bit tricky compared to other selectors sometimes. */

/* First try below... incorrect for the assignment though it does work & is another way to do it. */
/* .note[value="4"] {
  color: blue;
} */

/* Second try corrected below. */
li[value="4"] {
  color: blue;
}

/* TODO 5 */
* {
  text-align: center;
}
/* Ideally for TODO 5, it's best to have the universal selector at the top, I believe. */


