ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* TODO 1 */
p {
    color: red;
}

/* TODO 2 */
.note {
    font-size: 20px;
}

