/* Write your code here: */

/* Using Group Rule for combining CSS Selectors */
h1, h2 {
    color: blueviolet;
}

/* Using the Child Rule for combining CSS Selectors */
.box > p {
    color: firebrick;
}

/* Using Descendant Rule/Combo for combining CSS Selectors */
.box li {
    color: blue;
}

/* Using Chaining Rule for combining css selectors */
li.done {
    color: seagreen;
}

/* Using the Combine Combiners method that I may see out in the wild when coding & reviewing code */
body ul.done {
    font-size: .5rem;
}

