/* Write your code here: */

/* Using Group Rule for combining CSS Selectors */
h1, h2 {
    color: blueviolet;
}

/* Using the Child Rule for combining CSS Selectors */
.box > p {
    color: firebrick;
}

/* Using Descendant Rule/Combo for combining CSS Selectors */
.box li {
    color: blue;
}

/* Using Chaining Rule for combining css selectors */
li.done {
    color: seagreen;
}

/* Using the Combine Combiners method that I may see out in the wild when coding & reviewing code */
ul p.done {
    font-size: .5rem;
}
/* For the above solve, using the ancestor selector and then the chaining method for more specificity & that is what we want to target is the p.done. */
/* Also, when hover over the selectors, vscode shows what element it's selecting as well. Good to know if want to double check what the css is selecting. And also helpful for troubleshooting. */


