body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  display: inline-block;
}

h1 {
  font-size: 5rem;
}

span {
  color: rgb(25, 25, 112);
}

/* Images */
.tile-image {
  float: left;
}






footer {
  text-align: right;
  /* color: midnightblue; */
  /* Midnight blue is the same as the rgb; however, I inspected the solution code and wanted to use the rgb for it... thus below. */
  color: rgb(25, 25, 112);
}

/* As per research, it says best to put media queries at the end. */
@media (min-width: 319px) and (max-width: 480px) {
  img {
    height: 200px;
    width: 200px;
  }

}


/* 
Mobile Devices: 319px — 480px
iPads and Tablets: 481px — 1200px
Laptops: 1201px — 1600px
Desktops: 1601px and more */