body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  /* Works better to use block because it spans the entire width of the webpage. This works better for the html I currently have.
  If I use inline-block, it shrinks to only be as wide as the content. It's narrower and weaker.
  Cards can't sit nicely together side by side if parent is too narrow and doesn't give enough room. */
  display: block;
}

h1 {
  font-size: 5rem;
}

span {
  color: rgb(25, 25, 112);
}

/* Images */
/* So this is where I'm floating all images to the left so that text can be to the right. */
/* THIS IS ONLY THE PICTURE INSIDE THE CARD */
.tile-image {
  float: left;
  /* So that there is space between the image and the text */
  margin-right: 4%;
}

/* This is where I'm moving the entire container of photo & verbiage to the left, while the text is still floating the way I created it on lines 27 & 28. */
/* THIS IS THE ENTIRE LEFT CARD */
.left {
  float: left;
  /* 200px is normal, standard height for a readable image on a webpage. */
  height: 200px;
  /* So that there is a gap between the left card and the right card. In Flexbox you can use gap which works better, but this is how it works for if only using float for the lesson. */
  /* 20px is normal, standard spacing between an image and text. */
  margin-right: 20px;
}

/* This is where I'm moving the entire right container @ verbiage (it's all held in the same div), I'm moving to the right. Opposite side than line 32 & 33 above. */
/* THIS IS THE ENTIRE RIGHT CARD */
.right {
  float:right;
}

.card {
  /* widths 48% for each so 4% gap in between */
  width: 48%;
}


footer {
  text-align: right;
  /* color: midnightblue; */
  /* Midnight blue is the same as the rgb; however, I inspected the solution code and wanted to use the rgb for it... thus below. */
  color: rgb(25, 25, 112);
  /* This clears the float from above. */
  /* Or if I have a float left and a float right, I can do clear: both */
  /* clear: left; This is the previous when I only had lines 27-28 and not the other lines underneath. */
  clear: both;
}

/* As per research, it says best to put media queries at the end. */
@media (max-width: 600px) {
  div {
    height: 200px;
    width: 200px;
  }


}


/* 
Mobile Devices: 319px — 480px
iPads and Tablets: 481px — 1200px
Laptops: 1201px — 1600px
Desktops: 1601px and more */