/* Checking to see if stylesheet is matched with html1 - It is. */

/* * {
    background-color: rgb(5, 85, 112);
} */

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}
