html {
    background-color: antiquewhite;
}

/* Using Named Colors */
h1 {
    color: whitesmoke;
    background-color: darkseagreen;
}

/* Using Hex Colors */
h2 {
    color: #FAF8F1;
    background-color: #C58940;
}

