/* test to make sure html and css are linked */
/* * {
    background-color: green;
} */

/* Existing CSS provided with .box and p */

#outer-box {
    background-color: purple;
}

.box {
    background-color: blue;
    padding: 10px;
}

.inner-box {
    background-color: red;
}

p {
    color: yellow;
    margin: 0;
    padding: 0;
}

.white-text {
    color: white;
}
