/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  background-color: red;
}
/* How do you apply css to a class that has a space 
in it in the html? Originally wanted to use this.*/
/* .box inner-box {
  background-color: red;
} */

