/* testing to make sure html and css stylesheet are connected with link & href. */
/* * {
    background-color: blueviolet;
} */

* {
    background-color: black;
    color: white;

}

html {
    font-size: 20px;
}

div {
    width: 50%;
    margin-left: 25%;
}

img {
    border: 5px solid white;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.verbiage {
    text-align: center;
    
    /* Below is the Font CSS class for a variable style */
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#title {
    font-size: 2rem;
}

#motivation {
    font-size: 1rem;
}