/* testing to make sure html and css stylesheet are connected with link & href. */
/* * {
    background-color: blueviolet;
} */

* {
    background-color: black;
    color: white;

}

div {
    width: 50%;
    margin-left: 25%;
}

img {
    border: 5px solid white;
    height: 200px;
}

.verbiage {
    text-align: center;
}
