body {
    background-color: black;
    color: white;
}

div {
    width: 50%;
    margin-left: 25%;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text {
    text-align: center;
}

#h1tag {
    text-transform: uppercase;
    
}